.card{
  border:1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(146, 141, 141, 0.397);
  padding: 20px;
  margin: 20px;
  display: inline-block;
  text-align: center;

}
.card .card-image{
  width: 200px;
  height: 200px;
   border-radius: 10px;
}
.card .card-title{
 color: rgba(0, 0, 0, 0.918);
 font-family:Arial, Helvetica, sans-serif ;
 margin-bottom: 10px
}
.card .card-description{
  color: rgba(138, 135, 135, 0.884);
   font-family:Arial, Helvetica, sans-serif ;
   margin: 0;
}
.student{
  font-family:sans-serif;
  color: rgba(188, 10, 140, 0.959);
  border: 2px solid rgba(0, 0, 0, 0.599);
  margin: 10px;
}
.student p{
  margin: 10px;
  padding: 1px;
}